.unit-list-container {
  padding: 16px;
}

.unit-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: #79afff 0px 4px 8px;
  transition: box-shadow 0.3s ease;
}

.unit-card:hover {
  box-shadow: #79afff 0px 6px 12px;
}

.unit-card-content {
  flex-grow: 1;
  padding: 16px;
}

.unit-chip-container {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.book-unit-button {
  width: 100%;
  border-radius: 20px;
  margin-top: auto;
}

@media (max-width: 600px) {
  .unit-grid-item {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  .unit-grid-item {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 961px) {
  .unit-grid-item {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
}

